# Binaries e executáveis
/main
*.exe
*.out

# Arquivos do Go
*.test

# Diretórios gerados
/bin/
/build/
/dist/
/vendor/

# Módulos do Go
go.sum
go.mod

# Arquivos do Swagger gerados automaticamente
/docs/*
!docs/.gitkeep  # Mantém o diretório vazio se necessário

# Chave secreta do Firebase
serviceAccountKey.json

# Configurações de IDE
.vscode/
.idea/
*.swp

# Logs e caches
*.log
*.cache
*.tmp

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
